.boxModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    min-width: 35rem;
    min-height: 10rem;
    width: auto;
    max-width: 100%;
    @media (max-width: 700px) {
        min-width: unset;
        width: 80%;
    }
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modalTitle {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-family: sans-serif;
    color: #202020;
    @media (max-width: 700px) {
        font-size: 1.1rem;
    }
}

.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.modalHeader button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #888;
}

.modalHeader button:hover {
    color: #333;
}
