* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parentSidebar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.sidebarSideGrid {
    grid-area: 1 / 1 / 6 / 2;
    background-color: #f9faf5;
}
.contentSideGrid {
    grid-area: 1 / 2 / 6 / 6;
    background-color: #fefefe;
}
