.boxForm {
    gap: 0.6rem;
}

.formTitle {
    padding-top: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #393953;
    font-family: 'Roboto', sans-serif;
}

.boxInput {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    color: #585757;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5rem;
}

.return {
    color: #5c5c5c;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}
